@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.login {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 30vw;
    max-width: 500px;
    height: 20vh;
    max-height: 300px;
    align-self: center;
    border: 1px solid #1b2628;
    box-shadow: 5px 5px 10px 3px #505c5e;
    padding: 6px;
    border-radius: 5px;
    animation: fadeIn 2s;
}

.login .login__input {
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    margin-top: 5px;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 1rem;
}

.login .login__submit {
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    margin-top: auto;
    text-align: center;
    background-color: white;
    font-size: 1rem;
    width: 50%;
    height: 2.5rem;
    align-self: center;
}

.login .login__submit:hover {
    background-color: #b4b4b4;
}
